@page
@model LuckyStack3.indexModel
@{
    ViewData["Title"] = "index";
}

<h1 style="color:red">一起帮源栈</h1>
<h1 style="color:red">一起帮源栈</h1>
<h1 style="color:red">一起帮源栈</h1>
<h1 style="color:red">一起帮源栈</h1>
<h1 style="color:red">一起帮源栈</h1>
<h1 style="color:red">一起帮源栈</h1>





<h1 style="color:red">一起帮源栈</h1>
<h1 style="color:red">一起帮源栈</h1>
<h1 style="color:red">一起帮源栈</h1>
<h1 style="color:red">一起帮源栈</h1>
<h1 style="color:red">一起帮源栈</h1>
